extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  each item in ['AddProduct', 'MyProducts']
    button(type="button")
        a(href="/products/" + item)=item
  
  if products.length > 0
    .row
     each product in products
        .col-4
          .card
            .card-body
              ul
                  h5.card-title
                    span.font-weight-bold Product -
                    |  #{product.name}
                  img(src='path/to/your/image.jpg', alt='Missing Product Image')
                  h6
                    span.font-weight-bold
                    |  #{product.description}
                  h6
                    span.font-weight-bold Seller:
                    br
                    |  #{product.username}
                  h6
                    span.font-weight-bold Quantity In Stock -
                    |  #{product.quantity}
                  h6
                    span.font-weight-bold Price -
                    |  #{product.price} .GBP
                  button#atb(type="submit") Add to basket
  else
    p No Products to list. Create one!